body{
    background-color: black;
}

#container {
    position: absolute;
    width: 800px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 3px solid white;
    font-size: 25px;
}

#canvas1{
    position: relative;
    width: 800px;
    height: 700px;
}

#slider{
    width: 100%;
}

p{
    color: white;
}

#controls{
    width: 10.9%;
    text-align: center;
    border: 1px solid white;
    padding: 1rem;
    margin-top: 7.5rem;
    margin-left: 7rem;
}

#showGameSpeed{
    border: 1px solid #FED55E;
    padding: 4px;
}

button{
    margin-top: 1rem;
}

button:hover{
    background-color: #FED55E;
}

#instructions{
    color: #FED55E;
    font-size: 14px;
}